<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="normalize.css">

</head>

<body>
    <header class="header-box">
        <nav id="home">Home</nav>
        <nav id="posts">Posts</nav>
        <nav id="market-place">Market Place</nav>
        <nav id="farmer-corner">Farmer's Corner</nav>
        <nav id="about-us">About Us</nav>
    </header>
    <div id="contact-form">
        <fieldset>
            <legend>Contact Form</legend>
            <input type="name" id="username" placeholder="Username" required>
            <label for="username">Username:</label>
            <input type="email" id="email" placeholder="Email" required>
            <label for="email">Email:</label>
            <textarea id="message" required></textarea>
            <label for="message">Message:</label>
            </textarea>
        </fieldset>
    </div>
</body>

</html>