<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="farmercorner.css">

</head>

<body>
    <header class="header-box">
        <div class="logo">My logo</div>
        <nav class="menu">
            <ul>
                <li id="home" href="#">Home</li>
                <li id="posts" href="#">Posts</li>
                <li id="market-place" href="#">Market Place</li>
                <li id="farmer-corner" href="#">Farmer's Corner</li>
                <li id="about-us" href="#">About Us</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="top-warning">
            <p id="warning">Here, Farmers are to discuss with other members of this platform on the current
                challenges they are facing or the ones they faced in the past as a farmer on the farm and how they were
                able to solve them so that the rest of the
                members could learn from their mistakes and as well take the information that has been passed to make
                informed decisions when they are faced with such issues themselves.<br><br> NB: Please, note that the
                information provided here are not the views of Wink, we only provide a platform for farmers to share
                information, its accuracy, applicability and scalability is left to the readers to discretion to decide
                if the solution provided should be used or not.</p>
        </section>
        <div class="discussions">
            <div id="farmer-posts">
                <h5>Topic: <p id="topic-2">How I treated Coccidiosis in Chicken</p>
                </h5>
                <figure id="text-for-trend">
                    <blockquote>
                        <p>Member's Username</p>
                    </blockquote>
                    <figcaption>&ndash;Author's name, <cite>Julius: The Article</cite></figcaption>
                </figure>
            </div>
            <section class="full-post-div">
                <h4 id="full-post">The post in full
                </h4>
                <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print,
                    graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century
                    who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a
                    type specimen book. It usually begins with: “Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.” The purpose of lorem
                    ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that
                    doesn't distract from the layout. A
                    practice not without controversy, laying out pages with meaningless filler text can be very
                    useful when the focus is meant to be on design, not content. The passage experienced a surge in
                    popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during
                    the 90s as desktop publishers bundled the text with their software. Today it's seen all around
                    the web; on templates, websites, and stock designs. Use our generator to get your own, or read
                    on for the authoritative history of lorem ipsum.</p>
            </section>
        </div>
    </main>
    <div id="empty-for-space">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <footer class="footer-div">
        <div class="footer-text">
            <nav id="social-media-handles">
                <p id="social-icons"> Follow us on: <a href="#">Twitter</a> <a href="#">Facebook</a> <a
                        href="#">Instagram</a>
                </p>
                <p id="contact-us"><a href="#"> Contact Us</a></p>
            </nav>
            <div id="disclaimer-div">
                <p id="disclaimer">DISCLAIMER: The views and opinions expressed in the articles and comments on this
                    blog are solely those of the respective authors and do not necessarily reflect the official policy
                    or position of Wink. We do not warrant the accuracy, completeness, or usefulness of any information
                    presented. Reliance on any content provided is solely at your own risk. Wink shall not be held
                    responsible for any harmful, inaccurate,
                    or inappropriate content posted by users. If you have concerns about specific content, please
                    contact us for further assistance.</p>
            </div>
            <div id="enquiry">
                <p id="for-enquiry">For any inquiries, please contact <a href="#">yonwatodejulius@gmail.com</a> </p>
                <p id="copyright">Copyright &copy; Wink 2023
                    All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>

</html>